<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Uplai_Easytopsell>
            <version>1.0.0</version>
        </Uplai_Easytopsell>
    </modules>
    <frontend>
        <layout>
            <updates>
                <easytopsell>
                    <file>easytopsell.xml</file>
                </easytopsell>
            </updates>
        </layout>
        <translate>
            <modules>
                <Uplai_Easytopsell>
                    <files>
                        <default>Uplai_Easytopsell.csv</default>
                    </files>
                </Uplai_Easytopsell>
            </modules>
        </translate>
    </frontend>
    
    <global>
        <models>
            <easytopsell>
                <class>Uplai_Easytopsell_Model</class>
                <resourceModel>easytopsell_mysql4</resourceModel>
            </easytopsell>
            <easytopsell_mysql4>
                <class>Uplai_Easytopsell_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>uplai_easytopsell_slide</table>
                    </slide>
                    <slide_category>
                        <table>uplai_easytopsell_slide_category</table>
                    </slide_category>
                    <category>
                        <table>uplai_easytopsell_category</table>
                    </category>
                    <category_store>
                        <table>uplai_easytopsell_category_store</table>
                    </category_store>
                </entities>
            </easytopsell_mysql4>
        </models>
        <resources>
            <easytopsell_setup>
                <setup>
                    <module>Uplai_Easytopsell</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easytopsell_setup>
            <easytopsell_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easytopsell_write>
            <easytopsell_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easytopsell_read>
        </resources>
        <blocks>
            <easytopsell>
                <class>Uplai_Easytopsell_Block</class>
            </easytopsell>
        </blocks>
        <helpers>
            <easytopsell>
                <class>Uplai_Easytopsell_Helper</class>
            </easytopsell>
        </helpers>
    </global>
    <admin>
        <routers>
            <uplai_easytopsell>
                <use>admin</use>
                <args>
                    <module>Uplai_Easytopsell</module>
                    <frontName>easytopsell</frontName>
                </args>
            </uplai_easytopsell>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easytopsell translate="title" module="easytopsell">
                                            <title>Easytopsell</title>
                                        </easytopsell>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <catalog>
                
                <children>
                    <easytopsell translate="title" module="easytopsell">
                        <title>Easytopsell</title>
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="easytopsell">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/easytopsell</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </easytopsell>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <default>
        <easytopsell>
            <options>
                <enable>1</enable>
                <blocktitle>TOPSELLERS</blocktitle>
                <noproducttext>be first... </noproducttext>
                <salable>1</salable>
            </options>
            <homepageoptions>
                <homecount>10</homecount>
                <homedays>365</homedays>
                <homecat>0</homecat>
                <homesidebarleft>1</homesidebarleft>
                <homesidebarright>2</homesidebarright>
                <homeactions>1</homeactions>
                <homeprice>1</homeprice>
            </homepageoptions>
            <catpageoptions>
                <catcount>5</catcount>
                <catdays>365</catdays>
                <catsidebarleft>1</catsidebarleft>
                <catsidebarright>2</catsidebarright>
                <catactions>1</catactions>
                <catprice>1</catprice>
            </catpageoptions>
        </easytopsell>
    </default>
</config>