<?xml version="1.0"?>
<config>
    <modules>
        <Uplai_Repay>
            <version>0.1.0</version>
        </Uplai_Repay>
    </modules>
    <frontend>
        <routers>
            <repay>
                <use>standard</use>
                <args>
                    <module>Uplai_Repay</module>
                    <frontName>repay</frontName>
                </args>
            </repay>
        </routers>
        <layout>
            <updates>
                <repay>
                    <file>repay.xml</file>
                </repay>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<repay>
				<use>admin</use>
				<args>
					<module>Uplai_Repay</module>
					<frontName>repay</frontName>
				</args>
			</repay>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<repay module="repay">
				<title>Repay</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="repay">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>repay/adminhtml_repay</action>
					</items>
				</children>
			</repay>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Uplai_Repay>
							<title>Repay Module</title>
							<sort_order>10</sort_order>
						</Uplai_Repay>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<repay>
					<file>repay.xml</file>
				</repay>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <repay>
                <class>Uplai_Repay_Model</class>
                <resourceModel>repay_mysql4</resourceModel>
            </repay>
            <repay_mysql4>
                <class>Uplai_Repay_Model_Mysql4</class>
                <entities>
                    <repay>
                        <table>repay</table>
                    </repay>
                </entities>
            </repay_mysql4>
        </models>
        <resources>
		<!--
            <repay_setup>
                <setup>
                    <module>Uplai_Repay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repay_setup>
		-->	
            <repay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </repay_write>
            <repay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </repay_read>
        </resources>
        <blocks>
            <repay>
                <class>Uplai_Repay_Block</class>
            </repay>
			<sales>
				<rewrite>
					<order_history>Uplai_Repay_Block_Order_History</order_history>
				</rewrite>
			</sales>
        </blocks>
        <helpers>
            <repay>
                <class>Uplai_Repay_Helper</class>
            </repay>
        </helpers>
		<rewrite>
			<uplai_repay_onepage>
				<from><![CDATA[#^/checkout/onepage/savePayment/#]]></from>
				<to>/repay/onepage/savePayment/</to>
			</uplai_repay_onepage>	
		</rewrite>	
		<rewrite>
			<uplai_repay_onepage2>
				<from><![CDATA[#^/checkout/onepage/saveOrder/#]]></from>
				<to>/repay/onepage2/saveOrder/</to>
			</uplai_repay_onepage2>			
		</rewrite>		
    </global>
</config>