<?xml version="1.0"?>
<config>
    <modules>
        <Uplai_Powerattribute>
            <version>0.1.0</version>
        </Uplai_Powerattribute>
    </modules>
    <frontend>
        <routers>
            <powerattribute>
                <use>standard</use>
                <args>
                    <module>Uplai_Powerattribute</module>
                    <frontName>powerattribute</frontName>
                </args>
            </powerattribute>
        </routers>
        <layout>
            <updates>
                <powerattribute>
                    <file>powerattribute.xml</file>
                </powerattribute>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<powerattribute>
				<use>admin</use>
				<args>
					<module>Uplai_Powerattribute</module>
					<frontName>powerattribute</frontName>
				</args>
			</powerattribute>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<powerattribute module="powerattribute">
				<title>Powerattribute</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="powerattribute">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>powerattribute/adminhtml_powerattribute</action>
					</items>
				</children>
			</powerattribute>
		</menu>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<powerattribute>
							<title>Powerattribute Module</title>
							<sort_order>10</sort_order>                            
							<children>
								<items>
									<title>Items</title>
									<sort_order>808</sort_order>
								</items> 							
							</children>                                                    
						</powerattribute>						
					</children>					
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<powerattribute>
					<file>powerattribute.xml</file>
				</powerattribute>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <powerattribute>
                <class>Uplai_Powerattribute_Model</class>
                <resourceModel>powerattribute_mysql4</resourceModel>
            </powerattribute>
            <powerattribute_mysql4>
                <class>Uplai_Powerattribute_Model_Mysql4</class>
                <entities>
                    <powerattribute>
                        <table>powerattribute</table>
                    </powerattribute>
                </entities>
            </powerattribute_mysql4>
			<catalog>
				<rewrite>
					<resource_eav_attribute>Uplai_Powerattribute_Model_Catalog_Resource_Eav_Attribute</resource_eav_attribute>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <powerattribute_setup>
                <setup>
                    <module>Uplai_Powerattribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </powerattribute_setup>
            <powerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </powerattribute_write>
            <powerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </powerattribute_read>
        </resources>
        <blocks>
            <powerattribute>
                <class>Uplai_Powerattribute_Block</class>
            </powerattribute>
			<adminhtml>
				<rewrite>
					<catalog_product_attribute_edit_tab_options>Uplai_Powerattribute_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
				</rewrite>
			</adminhtml>
			
			<!--
			<catalog>
				<rewrite>
					<product_view_type_configurable>Uplai_Powerattribute_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
				</rewrite>
			</catalog>
			-->
        </blocks>
        <helpers>
            <powerattribute>
                <class>Uplai_Powerattribute_Helper</class>
            </powerattribute>
        </helpers>
    </global>
</config>