<?xml version="1.0"?>
<config>
    <modules>
        <Uplai_Customerenhance>
            <version>0.1.0</version>
        </Uplai_Customerenhance>
    </modules>
    <frontend>
        <routers>
            <customerenhance>
                <use>standard</use>
                <args>
                    <module>Uplai_Customerenhance</module>
                    <frontName>customerenhance</frontName>
                </args>
            </customerenhance>
        </routers>

    </frontend>

    <global>
		<customer>
            <address>
                <formats>
                    <text translate="title" module="customer">
                        <title>Text</title>
                        <defaultFormat><![CDATA[
{{var country}}
{{if region}}{{var region}} {{/if}}{{if city}}{{var city}} {{/if}}{{if district}}{{var district}} {{/if}}
{{if street1}}{{var street1}}{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}F: {{var fax}}{{/depend}}<br/>
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if postcode}}{{var postcode}}{{/if}}<br/>
            ]]></defaultFormat>
                    </text>
                    <oneline translate="title" module="customer">
                        <title>Text One Line</title>
                        <htmlEscape>true</htmlEscape>
                        <defaultFormat>
<![CDATA[{{var region}} {{var city}} {{var district}} {{var street}} {{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{depend suffix}} {{var suffix}}{{/depend}},{{var postcode}}]]>
                        </defaultFormat>
                    </oneline>
                    <html translate="title" module="customer">
                        <title>HTML</title>
                        <htmlEscape>true</htmlEscape>
                        <defaultFormat><![CDATA[
{{var country}}<br/>
{{if region}}{{var region}} {{/if}}{{if city}}{{var city}} {{/if}}{{if district}}{{var district}} {{/if}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{depend company}}{{var company}}<br />{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}<br/>
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if postcode}}{{var postcode}}{{/if}}<br/>
            ]]></defaultFormat>
                    </html>
                    <pdf translate="title" module="customer">
                        <title>PDF</title>
                        <defaultFormat><![CDATA[
{{var country}}|
{{if region}}{{var region}} {{/if}}{{if city}}{{var city}} {{/if}}{{if district}}{{var district}} {{/if}}
{{if street1}}{{var street1}}|{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{depend company}}{{var company}}|{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}|F: {{var fax}}{{/depend}}<br/>
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if postcode}}{{var postcode}}{{/if}}<br/>
            ]]></defaultFormat>
                    </pdf>
                    <js_template template="title" module="customer">
                        <title>Javascript Template</title>
                        <defaultFormat><![CDATA[#{prefix} #{firstname} #{middlename}  #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}]]></defaultFormat>
                    </js_template>
                </formats>
            </address>
        </customer>
		<models>
            <customerenhance>
                <class>Uplai_Customerenhance_Model</class>
            </customerenhance>           
        </models>
        <resources>           
            <customerenhance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerenhance_write>
            <customerenhance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerenhance_read>
        </resources>        
        <helpers>
            <customerenhance>
                <class>Uplai_Customerenhance_Helper</class>
            </customerenhance>
        </helpers>		
		
    </global>
</config>