<?xml version="1.0"?>
<config>
    <modules>
        <Extrapkg_Magicimport>
            <version>0.1.0</version>
        </Extrapkg_Magicimport>
    </modules>
    <frontend>
        <routers>
            <magicimport>
                <use>standard</use>
                <args>
                    <module>Extrapkg_Magicimport</module>
                    <frontName>magicimport</frontName>
                </args>
            </magicimport>
        </routers>
        <layout>
            <updates>
                <magicimport>
                    <file>magicimport.xml</file>
                </magicimport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<magicimport>
				<use>admin</use>
				<args>
					<module>Extrapkg_Magicimport</module>
					<frontName>magicimport</frontName>
				</args>
			</magicimport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magicimport module="magicimport">
				<title>Magicimport</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="magicimport">
						<title>Product Import</title>
						<sort_order>0</sort_order>
						<action>magicimport/adminhtml_magicimport</action>
					</items>
				</children>
			</magicimport>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Extrapkg_Magicimport>
							<title>Magicimport Module</title>
							<sort_order>10</sort_order>
						</Extrapkg_Magicimport>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<magicimport>
					<file>magicimport.xml</file>
				</magicimport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <magicimport>
                <class>Extrapkg_Magicimport_Model</class>
                <resourceModel>magicimport_mysql4</resourceModel>
            </magicimport>
            <magicimport_mysql4>
                <class>Extrapkg_Magicimport_Model_Mysql4</class>
                <entities>
                    <magicimport>
                        <table>magicimport</table>
                    </magicimport>
					<magicimport_magicdata>
                        <table>magicdata</table>
                    </magicimport_magicdata>
					<magicimport_product>
                        <table>magicdata</table>
                    </magicimport_product>
					<magicimport_category>
                        <table>magicdata</table>
                    </magicimport_category>
                </entities>
            </magicimport_mysql4>
        </models>
        <resources>
            <magicimport_setup>
                <setup>
                    <module>Extrapkg_Magicimport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magicimport_setup>
            <magicimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magicimport_write>
            <magicimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magicimport_read>
        </resources>
        <blocks>
            <magicimport>
                <class>Extrapkg_Magicimport_Block</class>
            </magicimport>
        </blocks>
        <helpers>
            <magicimport>
                <class>Extrapkg_Magicimport_Helper</class>
            </magicimport>
        </helpers>
    </global>
</config>