<?xml version="1.0"?>
<config>
    <modules>
        <Uplai_Oscheckout>
            <version>0.1.0</version>
        </Uplai_Oscheckout>
    </modules>
    <frontend>
        <routers>
            <oscheckout>
                <use>standard</use>
                <args>
                    <module>Uplai_Oscheckout</module>
                    <frontName>oscheckout</frontName>
                </args>
            </oscheckout>
        </routers>
        <layout>
            <updates>
                <oscheckout>
                    <file>oscheckout.xml</file>
                </oscheckout>
            </updates>
        </layout>
		<translate>
            <modules>
                <Uplai_Oscheckout>
                     <files>
                          <default>Uplai_Oscheckout.csv</default>
                     </files>
                </Uplai_Oscheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<oscheckout>
				<use>admin</use>
				<args>
					<module>Uplai_Oscheckout</module>
					<frontName>oscheckout</frontName>
				</args>
			</oscheckout>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<oscheckout module="oscheckout">
				<title>Oscheckout</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="oscheckout">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>oscheckout/adminhtml_oscheckout</action>
					</items>
				</children>
			</oscheckout>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Uplai_Oscheckout>
							<title>Oscheckout Module</title>
							<sort_order>10</sort_order>
						</Uplai_Oscheckout>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<oscheckout>
					<file>oscheckout.xml</file>
				</oscheckout>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<fieldsets>
			<sales_convert_quote_address>
                <weight><to_order>*</to_order></weight>
                <shipping_method><to_order>*</to_order></shipping_method>
                <shipping_description><to_order>*</to_order></shipping_description>
                <shipping_rate><to_order>*</to_order></shipping_rate>

                <subtotal><to_order>*</to_order></subtotal>
                <tax_amount><to_order>*</to_order></tax_amount>
                <tax_string><to_order>*</to_order></tax_string>
                <discount_amount><to_order>*</to_order></discount_amount>
                <shipping_amount><to_order>*</to_order></shipping_amount>
                <shipping_incl_tax><to_order>*</to_order></shipping_incl_tax>
                <shipping_tax_amount><to_order>*</to_order></shipping_tax_amount>
                <custbalance_amount><to_order>*</to_order></custbalance_amount>
                <grand_total><to_order>*</to_order></grand_total>

                <base_subtotal><to_order>*</to_order></base_subtotal>
                <base_tax_amount><to_order>*</to_order></base_tax_amount>
                <base_discount_amount><to_order>*</to_order></base_discount_amount>
                <base_shipping_amount><to_order>*</to_order></base_shipping_amount>
                <base_shipping_incl_tax><to_order>*</to_order></base_shipping_incl_tax>
                <base_shipping_tax_amount><to_order>*</to_order></base_shipping_tax_amount>
                <base_custbalance_amount><to_order>*</to_order></base_custbalance_amount>
                <base_grand_total><to_order>*</to_order></base_grand_total>

                <hidden_tax_amount><to_order>*</to_order></hidden_tax_amount>
                <base_hidden_tax_amount><to_order>*</to_order></base_hidden_tax_amount>
                <shipping_hidden_tax_amount><to_order>*</to_order></shipping_hidden_tax_amount>
                <base_shipping_hidden_tax_amount><to_order>*</to_order></base_shipping_hidden_tax_amount>

                <prefix><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></prefix>
                <firstname><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></firstname>
                <middlename><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></middlename>
                <lastname><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></lastname>
                <suffix><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></suffix>
                <company><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></company>
                <street_full><to_order_address>street</to_order_address></street_full>
                <street><to_customer_address>*</to_customer_address></street><!-- ^^^ ? -->
                <city><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></city>
                <region><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></region>
                <region_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></region_id>
                <postcode><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></postcode>
                <country_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></country_id>
                <telephone><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></telephone>
                <fax><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></fax>
                <email><to_customer_address>*</to_customer_address></email>
				
				<district><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></district>
                <district_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></district_id>
                <city_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></city_id>
            </sales_convert_quote_address>
			
			<sales_convert_order_address>
                <prefix><to_quote_address>*</to_quote_address></prefix>
                <firstname><to_quote_address>*</to_quote_address></firstname>
                <middlename><to_quote_address>*</to_quote_address></middlename>
                <lastname><to_quote_address>*</to_quote_address></lastname>
                <suffix><to_quote_address>*</to_quote_address></suffix>
                <company><to_quote_address>*</to_quote_address></company>
                <street_full><to_quote_address>street</to_quote_address></street_full>
                <city><to_quote_address>*</to_quote_address></city>
                <region><to_quote_address>*</to_quote_address></region>
                <region_id><to_quote_address>*</to_quote_address></region_id>
                <postcode><to_quote_address>*</to_quote_address></postcode>
                <country_id><to_quote_address>*</to_quote_address></country_id>
                <telephone><to_quote_address>*</to_quote_address></telephone>
                <fax><to_quote_address>*</to_quote_address></fax>
                <district><to_quote_address>*</to_quote_address></district>
                <district_id><to_quote_address>*</to_quote_address></district_id>
                <city_id><to_quote_address>*</to_quote_address></city_id>
            </sales_convert_order_address>
			
			<customer_address>
                <id><to_quote_address>customer_address_id</to_quote_address></id>
                <parent_id><to_quote_address>customer_id</to_quote_address></parent_id>
                <prefix><to_quote_address>*</to_quote_address></prefix>
                <firstname><to_quote_address>*</to_quote_address></firstname>
                <middlename><to_quote_address>*</to_quote_address></middlename>
                <lastname><to_quote_address>*</to_quote_address></lastname>
                <suffix><to_quote_address>*</to_quote_address></suffix>
                <!--<email><to_quote_address>*</to_quote_address></email>-->
                <company><to_quote_address>*</to_quote_address></company>
                <street_full><to_quote_address>street</to_quote_address></street_full>
                <city><to_quote_address>*</to_quote_address></city>
                <region><to_quote_address>*</to_quote_address></region>
                <region_id><to_quote_address>*</to_quote_address></region_id>
                <postcode><to_quote_address>*</to_quote_address></postcode>
                <country_id><to_quote_address>*</to_quote_address></country_id>
                <telephone><to_quote_address>*</to_quote_address></telephone>
                <fax><to_quote_address>*</to_quote_address></fax>
				<district><to_quote_address>*</to_quote_address></district>
                <district_id><to_quote_address>*</to_quote_address></district_id>
                <city_id><to_quote_address>*</to_quote_address></city_id>
            </customer_address>
			
			<sales_copy_order_billing_address>
                <prefix><to_order>*</to_order></prefix>
                <firstname><to_order>*</to_order></firstname>
                <middlename><to_order>*</to_order></middlename>
                <lastname><to_order>*</to_order></lastname>
                <suffix><to_order>*</to_order></suffix>
                <customer_address_id><to_order>*</to_order></customer_address_id>
                <company><to_order>*</to_order></company>
                <street><to_order>*</to_order></street>
                <city><to_order>*</to_order></city>
                <region><to_order>*</to_order></region>
                <postcode><to_order>*</to_order></postcode>
                <country_id><to_order>*</to_order></country_id>
                <telephone><to_order>*</to_order></telephone>
                <fax><to_order>*</to_order></fax>
                <region_id><to_order>*</to_order></region_id>
				<district><to_order>*</to_order></district>
                <district_id><to_order>*</to_order></district_id>
                <city_id><to_order>*</to_order></city_id>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <prefix><to_order>*</to_order></prefix>
                <firstname><to_order>*</to_order></firstname>
                <middlename><to_order>*</to_order></middlename>
                <lastname><to_order>*</to_order></lastname>
                <suffix><to_order>*</to_order></suffix>
                <customer_address_id><to_order>*</to_order></customer_address_id>
                <company><to_order>*</to_order></company>
                <street><to_order>*</to_order></street>
                <city><to_order>*</to_order></city>
                <region><to_order>*</to_order></region>
                <postcode><to_order>*</to_order></postcode>
                <country_id><to_order>*</to_order></country_id>
                <telephone><to_order>*</to_order></telephone>
                <fax><to_order>*</to_order></fax>
                <region_id><to_order>*</to_order></region_id>
				<district><to_order>*</to_order></district>
                <district_id><to_order>*</to_order></district_id>
                <city_id><to_order>*</to_order></city_id>
            </sales_copy_order_shipping_address>
		</fieldsets>
        <models>
            <oscheckout>
                <class>Uplai_Oscheckout_Model</class>
                <resourceModel>oscheckout_mysql4</resourceModel>
            </oscheckout>
            <oscheckout_mysql4>
                <class>Uplai_Oscheckout_Model_Mysql4</class>
                <entities>
                    <oscheckout>
                        <table>oscheckout</table>
                    </oscheckout>
                </entities>
            </oscheckout_mysql4>
			<!--
			<sales>
				<rewrite>
					<order_address>Uplai_Oscheckout_Model_Sales_Order_Address</order_address>
				</rewrite>
			</sales>
			-->
        </models>
        <resources>
            <oscheckout_setup>
                <setup>
                    <module>Uplai_Oscheckout</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oscheckout_setup>
            <oscheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oscheckout_write>
            <oscheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oscheckout_read>
        </resources>
        <blocks>
            <oscheckout>
                <class>Uplai_Oscheckout_Block</class>
            </oscheckout>
        </blocks>
        <helpers>
            <oscheckout>
                <class>Uplai_Oscheckout_Helper</class>
            </oscheckout>
			<checkout>
				<rewrite>
					<url>Uplai_Oscheckout_Helper_Url</url>
				</rewrite>
			</checkout>
        </helpers>
    </global>
</config>