<?xml version="1.0"?>
<config>
    <modules>
        <Uplai_Oscheckout>
            <version>0.1.0</version>
        </Uplai_Oscheckout>
    </modules>
    <frontend>
        <routers>
            <oscheckout>
                <use>standard</use>
                <args>
                    <module>Uplai_Oscheckout</module>
                    <frontName>oscheckout</frontName>
                </args>
            </oscheckout>
        </routers>
        <layout>
            <updates>
                <oscheckout>
                    <file>oscheckout.xml</file>
                </oscheckout>
            </updates>
        </layout>
		<translate>
            <modules>
                <Uplai_Oscheckout>
                     <files>
                          <default>Uplai_Oscheckout.csv</default>
                     </files>
                </Uplai_Oscheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<oscheckout>
				<use>admin</use>
				<args>
					<module>Uplai_Oscheckout</module>
					<frontName>oscheckout</frontName>
				</args>
			</oscheckout>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<oscheckout module="oscheckout">
				<title>Oscheckout</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="oscheckout">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>oscheckout/adminhtml_oscheckout</action>
					</items>
				</children>
			</oscheckout>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Uplai_Oscheckout>
							<title>Oscheckout Module</title>
							<sort_order>10</sort_order>
						</Uplai_Oscheckout>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<oscheckout>
					<file>oscheckout.xml</file>
				</oscheckout>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <oscheckout>
                <class>Uplai_Oscheckout_Model</class>
                <resourceModel>oscheckout_mysql4</resourceModel>
            </oscheckout>
            <oscheckout_mysql4>
                <class>Uplai_Oscheckout_Model_Mysql4</class>
                <entities>
                    <oscheckout>
                        <table>oscheckout</table>
                    </oscheckout>
                </entities>
            </oscheckout_mysql4>
        </models>
        <resources>
            <oscheckout_setup>
                <setup>
                    <module>Uplai_Oscheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oscheckout_setup>
            <oscheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oscheckout_write>
            <oscheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oscheckout_read>
        </resources>
        <blocks>
            <oscheckout>
                <class>Uplai_Oscheckout_Block</class>
            </oscheckout>
        </blocks>
        <helpers>
            <oscheckout>
                <class>Uplai_Oscheckout_Helper</class>
            </oscheckout>
        </helpers>
    </global>
</config>